body {
    margin: 0;
    padding: 0;
}

.left-container{
    position: fixed;
    width: 400px;
    height: 100vh;
    background-color: rgb(209, 209, 209);
}

.photo-contact {
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.photo {
    width: 50%;
    border-radius: 50%;
}

.btn{
    display: block;
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover{
    background-color: black;
    color: white;
    transition: 600ms;
}

a{
    text-decoration: none;
}

.right-container{
    position: absolute;
    left: 400px;
}

.top-bar{
    padding-top: 50px;
    padding-left: 100px;
}

.title{
    font-style: italic;
    font-size: 1.3rem;
}

.list-menu{
    float: right;
    padding-right: 50px;
}

.menu{
    font-size: 1.1rem;
    padding: 0 15px 0 15px;
}

#profile{
    padding-top: 100px;
    padding-left: 100px;
}

#about{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#resume{
    padding-top: 250px;
    padding-left: 100px;
}

#achivment{
    padding-top: 250px;
    padding-left: 100px;
}

#contact{
    padding-top: 250px;
    padding-left: 100px;
}

#footer{
    padding-top: 250px;
    text-align: center;
}

p, li {
    line-height: 200%;
}
